{% extends "base.html" %}

{% block replace_login_url %}
    <a class="navbar-brand" href="{{auth_url}}">Login with Google</a>
{% endblock %}

{% block page_content  %}


<div class="container" >
    <br><h1 align="center"> {{question_text.question | markdown(autolink=True,hard_wrap =True, fenced_code=True, footnotes=True) }}</h1>
    <h4 align="right">Viewed: {{question_text.visitors}} times</h4>
    <h4 align="right">Asked By: {{question_text.email}} </h4>
    <h4 align="right"> {{question_text.date}} </h4>
    <br>
<hr width="80%">
<br>

    {% for p_answer in previous_answers %}


    <h4 id="answer" align="left">


      {{ p_answer.answer |markdown(autolink=True ,hard_wrap =True, fenced_code=True, footnotes=True)}}


    </h4>
    {% if  current_user.is_authenticated() %}
        <form>
            <input TYPE="button" VALUE="Upvote"
                onclick="window.location.href='{{ url_for('knowledge.upvote',answer_id=p_answer.id)}}';">
        </form>
    {% endif %}
    <div align="right">
        <h4 id="identity" align="left">
        Upvote: {{p_answer.upvote}}
        <br>


      {{moment(p_answer.date,local=True).fromNow() }}

        <br>
      Author: {{p_answer.email}}
    </h4>
    </div>
    <hr>
    {% endfor %}


    {% if  current_user.is_authenticated() %}



<!--https://github.com/neo1218/flask-ckeditor/tree/master/examples/app-->

    <form method="POST">
    {{ form.hidden_tag() }}
    <h4>Your Answer:</h4> {{ form.answer(class='ckeditor') }}

    {{ form.submit(class="btn btn-default btn-lg btn-primary") }}
</form>




    <br>
    <a target="_blank" href="https://en.wikipedia.org/wiki/Markdown#Example">Help on text formatting</a>
    {% endif %}


</div>

{% endblock %}