{% extends "base.html" %}

{% block replace_login_url %}
<a class="navbar-brand" href="{{auth_url}}" xmlns="http://www.w3.org/1999/html">Login with Google</a>
{% endblock %}

{% block page_content  %}


<div class="container" >

    <div>
        <h6 align="right"><a href='{{ url_for("knowledge.editable_question",question_id=question_text.id)}}' >Rephrase Question</a></h6>
        <h2 align="center"> {{question_text.subject }}</h2>
    </div>

    {% if question_text.private %}
        <a href='{{ url_for("knowledge.editable_question",question_id=question_text.id)}}' >
            <h6 align="right" style="color: red">Viewed only by you</h6>
        </a>
    {% endif %}

    <h4 align="left"> {{question_text.question | markdown(autolink=True,hard_wrap =True, fenced_code=True, footnotes=True) }}</h4>

    <h6 align="right">Viewed: {{question_text.visitors}} times</h6>
    <h6 align="right">Asked By: {{question_text.email}} </h6>
    <h6 align="right"> {{question_text.date}} </h6>


<hr width="90%" size=10 style="color: #0000cc">
<hr width="90%" size=10 style="color: #0000cc">
    {% for p_answer in previous_answers %}
    <div class="highlight">
    {% set count = loop.index  %}
    <hr>
    <h7 align="center" style="background-color: lightblue; align-content: center">

        Below Answer was Upvoted: {{p_answer.upvote}} times , {{moment(p_answer.date,local=True).fromNow() }} ,  Author: {{p_answer.email}}
    </h7>

    <h6 align="right"><a href='{{ url_for("knowledge.editable_answer",answer_id=p_answer.id)}}' >Rephrase Answer</a></h6>
    <h4 id="answer" align="left">
      {{ p_answer.answer |markdown(autolink=True ,hard_wrap =True, fenced_code=True, footnotes=True)}}
    </h4>


    {% if current_user.is_authenticated() %}

        <div class="col-lg-3">
            <input TYPE="button" VALUE="Upvote" onclick="window.location.href='{{ url_for('knowledge.upvote',answer_id=p_answer.id)}}';">
            <input TYPE="button" VALUE="Add Comment" onclick="addComment('{{loop.index}}','{{p_answer.id}}')">
        </div>

            <form class="form-inline" hidden id="comment{{count}}" name="comment">
                <div class="form-group">
                    <textarea class="form-control" id="comment_text{{loop.index}}"></textarea>
                </div>
                <button class="btn btn-default" onclick="refreshAnswerComments('{{loop.index}}','{{p_answer.id}}','{{p_answer.question_id}}');return false;">Submit</button>
                <button class="btn btn-default" onclick="cancelComment('{{loop.index}}'); return false;">Cancel</button>
            </form>
    {% endif %}


    {% if p_answer.comments %}
    <div align="right">
        <h6 id="identity" align="left">
            Comments: <br>
            {% for comment in p_answer.comments %}
                <li style="list-style:none">
                By: {{comment.author.email}} &nbsp; : &nbsp; {{comment.comment_text}}
                </li>
            {% endfor %}
    </h6>
    </div>
    {% endif %}


    <hr>
    </div>
    {% endfor %}


    {% if  current_user.is_authenticated() %}

    <!--https://github.com/neo1218/flask-ckeditor/tree/master/examples/app-->
    <div class="container-fluid">
    <form method="POST">
        {{ form.hidden_tag() }}
        <h4>Your Answer:</h4> {{ form.answer_text }}
        {{ form.submit(class="btn btn-default btn-lg btn-primary") }}
    </form>
    </div>



    <a target="_blank" href="https://en.wikipedia.org/wiki/Markdown#Example">Help on text formatting</a>
    {% endif %}

</div>



<script>
    function addComment(answer_index, answer_id) {
        $('#comment'+answer_index).show();
    }
    function cancelComment(answer_index){
        $('#comment'+answer_index).hide();
    }
    function refreshAnswerComments(loop_index, answer_id, question_id) {
        $.ajax({
                type: 'GET',
                url: '/capture_comment?answer_id=' + answer_id + '&comment_text=' + $("#comment_text"+loop_index).val() + '&question_id='+ question_id,
               success : function(data) {
                    //... your other code
                    //location.reload(); //reload the page on the success
                }
        });
        $('#comment'+answer_index).hide();
    }
</script>





{% endblock %}