{% extends "base.html" %}

{% block replace_login_url %}
    <a href="{{auth_url}}" class="navbar-brand">Login with Google</a>
{% endblock %}

{% block page_content  %}
<div class="container">

 <form method="POST">

    {{ form.hidden_tag() }}

     <h4>Your Question:</h4>

     {{form.subject.label}} &nbsp; {{form.subject(size=150)}}
     <br><br>
     {{form.private.label}} &nbsp; {{form.private}} &nbsp;&nbsp; (can only be seen by you)
     <br><br>
     {{ form.question(class='ckeditor') }}
     <br>

    {{ form.submit(class="btn btn-default btn-lg btn-primary") }}
     <a href='{{ url_for("knowledge.cancel")}}' class="btn btn-lg btn-danger" role="button">Cancel</a>
    <a href='{{ url_for("knowledge.cancel")}}' class="btn btn-lg btn-warning" role="button">Reset</a>

</form>

</div>

{% endblock %}

