{% extends "base.html" %}

{% block replace_login_url %}
    <a class="navbar-brand" href="{{auth_url}}">Login with Google</a>
{% endblock %}

{% block page_content  %}


<div class="container" >

    {% if  current_user.is_authenticated() %}
    <!--https://github.com/neo1218/flask-ckeditor/tree/master/examples/app-->

    <form method="POST" onsubmit="myFunction()">
        {{ form.hidden_tag() }}
        <h4>Your Answer:</h4> {{ form.answer_text }}
        {{ form.submit(class="btn btn-default btn-lg btn-primary") }}
        <a href='{{ url_for("knowledge.cancel")}}' class="btn btn-lg btn-danger" role="button">Cancel</a>
        <a href='{{ url_for("knowledge.cancel")}}' class="btn btn-lg btn-warning" role="button">Reset</a>
    </form>

    {% endif %}

</div>

<script>
$(document).ready(function() {
    //$('#answer_text').hide()
    $('#answer_text').summernote({
        height: 200,                 // set editor height
        minHeight: null,             // set minimum height of editor
        maxHeight: null,             // set maximum height of editor
        focus: false,
        toolbar: [
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['fontsize', ['fontsize']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['height', ['height']],
        ],
        oninit: function () {
            //$('.note-editable').attr('data-bind', 'html: Description');
            //var test = $(this).closest('.note-editor').siblings('textarea');
            //$(".summernote").code('data-bind', 'html: Description');
            //var content = $('#answer_text').html($('#summernote').code());
            //console.log("content is " + content)
        }
    })
});
</script>

{% endblock %}