{% extends "base.html" %}

{% block replace_login_url %}
    {% if auth_url %}
        <a class="navbar-brand" href="{{auth_url}}">Login with Google</a>
    {% endif %}
{% endblock %}

{% block page_content  %}
<div class="container">

    <h1 style="padding: 0px; margin: 0px">Top Viewed Questions</h1>

    {% if question_topic %}
        {% include "knowledge/index_question_template.html" %}
    {% else %}
    <br>
    <br>
        <h4>There is no question at the moment to display</h4>
    {% endif %}

</div>
{% endblock %}
