<div style="margin-top: 50px;padding-top: 50px">
  <table id="example1" class="table table-hover table-bordered results table-striped" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Count</th>
      <th>Question</th>
      <th>Date Asked</th>
      <th>Asked By</th>
      <th>Tag(s)</th>
      {% if question_topic[0].visitor %}
      <th>Visitors</th>
      {% endif %}
      <th>Private/Draft</th>
    </tr>
  </thead>
  <tbody>


  {% set count = 1 %}


  {% if question_topic %}

    {% for my_question in question_topic  %}

    <tr onclick="window.location.href='{{ url_for('knowledge.answer',question_id=my_question.id) }}';">

      <th scope="row">{{ count }}</th>
      <td>{{ my_question.subject  |striptags }}</td>
      <td>{{moment(my_question.date,local=True).fromNow() }}</td>
      <td>{{my_question.email}}</td>
      <td>{{my_question.topic_name}}</td>
      {% if question_topic[0].visitor %}
        <td>{{my_question.visitor}}</td>
      {% endif %}
      {% if my_question.private %}
      <td>In Draft</td>
      {% else %}
      <td>Public Viewable</td>
      {% endif %}
    </tr>


    {% set count = count + 1 %}
    {% endfor %}

  {% endif %}
  </tbody>
</table>
</div>