
  <div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="Search">
  </div>
  <span class="counter pull-right"></span>



  <table class="table table-hover table-bordered results table-striped" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Count</th>
      <th>Question</th>
      <th>Date Asked</th>
      <th>Asked By</th>
      <th>Tag(s)</th>
      {% if question_topic[0].visitor %}
      <th>Visitors</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>


  {% set count = 1 %}


  {% if question_topic %}

    {% for my_question in question_topic %}

    <tr onclick="window.location.href='{{ url_for('knowledge.answer',question_id=my_question.id) }}';">

      <th scope="row">{{ count }}</th>
      <td>{{ my_question.subject  |striptags }}</td>
      <td>{{my_question.date}}</td>
      <td>{{my_question.email}}</td>
      <td>{{my_question.topic_name}}</td>
      {% if question_topic[0].visitor %}
      <td>{{my_question.visitor}}</td>
      {% endif %}
    </tr>


    {% set count = count + 1 %}
    {% endfor %}

  {% endif %}
  </tbody>
</table>