.first-column {
  width: 20%;
  float: left;

}

tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }




div#buttons *{display:inline}

#answer{
    width:900px;
    background: transparent;
    margin: 5px;
}

#identity{
    width:600px;
    background:#d3d3d3;
}


#voting{
   width:30px;
   height:40px;
}
.upvote{
   width:30px;
   height: 20px;
   cursor: pointer;
}


body{
  padding:20px 20px;
}

.results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}

.counter{
  padding:8px;
  color:#ccc;
}


select {
    color: gray;
    display: inline-block;
    font-size: 15px;
    height:auto;
    line-height: 18px;
    padding: 4px;
    width: 400px;
}

#field {
    color: gray;
    display: inline-block;
    font-size: 20px;
    height:auto;
    alignment: right;
}



.highlight {
    outline: 1px solid darkblue;
    background: transparent;
}
